@import "tailwindcss";

@theme {
  --color-cid-orange: #F05A22;
  --color-cid-dark: #121212;
  --color-cid-gray: #1E1E1E;
}

@layer base {
  body {
    @apply bg-cid-dark text-white antialiased;
    margin: 0;
    font-family: sans-serif;
  }
}